+###########################################################################
+#                            TextMate Snippets                            #
+###########################################################################
+priority -50
+
+snippet use "#Use data ..."
+use "${1:file}.dta" , clear  
+endsnippet
+
+
+
+
+# vim:ft=snippets:
